.Card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0,0.253)!important;

}
.card-image{
    height: 80%;
    width: 80%;
    padding: 20px;
    padding-left: 70px;
}
.card-pos{
    Position: fixed;
    bottom: 0;
}